@font-face {
    font-family: "Vazirmatn";
    src: url("/assets/fonts/Vazirmatn-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Vazirmatn";
    src: url("/assets/fonts/Vazirmatn-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}

body {
    font-family: "Vazirmatn";
}